<body [ngClass]="{dark_mode: !lights_on}">
  <site-header></site-header>
    <div class="container">
      <div id="prof_pic">
        <img src="/assets/images/img2.png" alt="Blaaah!">
      </div>
      <div id="summary" [ngClass]="{dark_mode: !lights_on}">
        <h1><br>Lorem ipsum, dolor sit amet consectetur adipisicing!</h1>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, fugit excepturi quidem necessitatibus itaque quasi, reiciendis facere quibusdam totam sequi, quo qui neque temporibus consectetur cum labore laborum nulla fuga!</h3>
      </div>
    </div>
  <site-footer></site-footer>
</body>
