.container {
  width: 70%;
  padding-top: 5em;
}

#prof_pic {
  margin-bottom: 5rem;
  font-size: 1.5em;

}

#pic {
  /* border-style: solid; */
  /* border-color: red; */
  /* padding: 4em; */
  max-width: 100%;
  float: left;
  margin: 1em;
}
