<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alex Ngari</title>
</head>

<body style="margin: 0em;">
  <header>
    <div class="container">
      <div id="branding">
        <a href=#><h1>Alex Ngari</h1></a>
      </div>

      <nav>
        <ul>
          <li><a href=#>Home</a></li>
          <li><a href=#>Skills</a></li>
          <li><a href=#>Gallery</a></li>
          <li><a href=#>Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <app-summary></app-summary>


  <footer>
    <div class="container">
    </div>
  </footer>
</body>
</html>