<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Ngari</title>
  </head>

  <body style="margin: 0em;">
    <header>
      <div class="container">
        <div id="branding">
          <a routerLink="/" routerLinkActive="active"><h1>Alex Ngari</h1></a>
        </div>

        <nav>
          <div id="dark-switch">
            <img src="/assets/images/bulb.png" alt="" />
          </div>
          <div
            class="hamburger-menu"
            (click)="onClickHamburger()"
            [ngClass]="{ open: hamburger_open }"
          >
            <div class="hamburger"></div>
          </div>
          <div id="menu" [ngClass]="{ mobile: hamburger_open }">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/skills" routerLinkActive="active">Skills</a>
            <a href="#">Gallery</a>
            <a href="#">Blog</a>
          </div>
        </nav>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer>
      <p>&copy; Alex Ngari | alex.ngari03@gmail.com</p>
    </footer>
  </body>
</html>
